<template>
    <div class="flex">
        <ul class="list-none flex">
            <nuxt-link to="/">
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M13 20v-5h-2v5a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-7.59l-.3.3a1 1 0 1 1-1.4-1.42l9-9a1 1 0 0 1 1.4 0l9 9a1 1 0 0 1-1.4 1.42l-.3-.3V20a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2zm5 0v-9.59l-6-6-6 6V20h3v-5c0-1.1.9-2 2-2h2a2 2 0 0 1 2 2v5h3z"/></svg>
            </li>
            </nuxt-link>
            <nuxt-link :to="'/'+part[0]" v-for="(part, index) in parts.slice(0, -1)" :key="index">
                <li>
                      -> {{part[1]}}  
                </li>
            </nuxt-link>
            <li v-if="parts.slice(-1)[0]" class="text-gray-500">
                -> {{parts.slice(-1)[0][1]}}  
            </li>
        </ul>
        
    </div>
</template>
<script>
export default {
    computed: {
        parts () {
            let route = this.$route.path;
            let parts = route.split('/').filter(item => item).map(item => [item, this.translateRoute(item)])

            return parts ? parts : [];
        }
    },
    methods: {
        translateRoute(value) {
            let state = this.$store.state.routes.routeTranslates;
            return state[value] || value;
        },
    }
}
</script>