<template>
  <div>
    <button class="w-full h-12 rounded-lg border-green-200 text-green-500 border-2 px-3 flex" @click="$emit('onClick')"> 
      <svg class="w-8 w-8 fill-current text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M17 11a1 1 0 0 1 0 2h-4v4a1 1 0 0 1-2 0v-4H7a1 1 0 0 1 0-2h4V7a1 1 0 0 1 2 0v4h4z"/></svg>
      Добавить {{title}} </button>
  </div>
</template>
<script>
export default {
  name: "AddButton",
  props: ["title"]
};
</script>