<template>
  <div>
    
    <button class="w-full h-12 rounded-lg border-red-200 text-red-500 border-2 px-3 flex" @click="$emit('onClick')"> 
      <svg class="w-6 h-6 mr-2 fill-current text-red-500 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M8 6V4c0-1.1.9-2 2-2h4a2 2 0 012 2v2h5a1 1 0 010 2h-1v12a2 2 0 01-2 2H6a2 2 0 01-2-2V8H3a1 1 0 110-2h5zM6 8v12h12V8H6zm8-2V4h-4v2h4zm-4 4a1 1 0 011 1v6a1 1 0 01-2 0v-6a1 1 0 011-1zm4 0a1 1 0 011 1v6a1 1 0 01-2 0v-6a1 1 0 011-1z"/></svg> 
      Удалить </button>
  </div>
</template>
<script>
export default {
  name: "DeleteButton",
};
</script>