<template>
  <div>
    <label class="pr-5 h-12">от</label>
    <input  class="w-1/6 h-12 rounded-lg border-2 border-gray-300" />
    <label class="px-5 h-12">до</label>
    <input  class="w-1/6 h-12 rounded-lg border-2 border-gray-300" />
  </div>
</template>
<script>
export default {
  name: "RangeInput",
  props: ["list"]
};
</script>