<template>
  <div>
    <select class="w-full h-12 rounded-lg border-gray-300 border-2 px-3" v-model="selected" @change="$emit('onChange', selected)"> 
      <option disabled value="">Выберите условие</option>
      <option v-for="option in list" :key="option.id" :value="option">{{option.text}}</option>
    </select>

    {{selected.text}}
  </div>
</template>
<script>
export default {
  name: "Select",
  props: ["list", "selectEvent"],
  data () {
    return {
      options: [
        {text: 'Возраст', id: 1},
        {text: 'Тип карты', id: 2},
        {text: 'Статус карты', id: 3},
      ],
      selected: ''
    }
  },
  methods: {
    selectHandler () {
      selectEvent && selectEvent(selected);
    }
  }
};
</script>