<template>
  <div>
    
    <nuxt-link to="/survey/respondents" class="">
      <button class="p-2 m-2 text-blue-500 border border-blue-500">
       + Создать опрос
      </button>
     </nuxt-link>
  </div>
</template>

<script>
export default {
  name: 'SurveyPage',
  fetch ({store, query}) {
    console.log('---Survey---')
    console.log(query);
    query.page = query.page || 1;
    query.limit = query.limit || 20;
    console.log('---Получем список опросов---')
    store.commit('survey/setSurveysList');
  }
};
</script>

