<template>
  <div>
    <Menu />
    <div>Логика</div>
    <FooterNav link="conditions"/>
  </div>
</template>

<script>
import Menu from "~/components/SurveyForm/Menu";
import FooterNav from "~/components/SurveyForm/FooterNav";

export default {
  name: 'SurveyPage',
  components: { Menu, FooterNav },
  middleware: ['survey']
};
</script>

