<template>
  <div>
    <Menu :path="path"/>
    <div>Параметры</div>
    <FooterNav link="questions" />
  </div>
</template>

<script>
import Menu from "~/components/SurveyForm/Menu";
import FooterNav from "~/components/SurveyForm/FooterNav";
export default {
  name: 'SurveyPage',
  components: { Menu, FooterNav},
  data() {
    return {
      path: ''
    }
  },
  middleware: ['survey']
};
</script>

