<template>
  <div>
    <Menu />
    <div>Вопросы</div>
    <FooterNav  link="logic" />
  </div>
</template>

<script>
import Menu from "~/components/SurveyForm/Menu";
import FooterNav from "~/components/SurveyForm/FooterNav";
export default {
  name: 'SurveyPage',
  components: { Menu, FooterNav},
  middleware: ['survey']
};
</script>

