<template>
  <div>
    <RespondentForm>
      <Menu :path="path" />
    </RespondentForm>
    <FooterNav />
  </div>
</template>

<script>
import Menu from "~/components/SurveyForm/Menu";
import FooterNav from "~/components/SurveyForm/FooterNav";
import RespondentForm from "~/components/SurveyForm/RespondentForm";
export default {
  name: 'SurveyPage',
  components: { RespondentForm, Menu, FooterNav },
  data() {
    return {
      path: ''
    }
  },
  middleware: ['survey']
};
</script>

