<template>
  <div class="flex">
    <aside class="px-3 border border-t-0 border-l-0">
      <NavigateMenu />
    </aside>
    <section class="w-5/6">
      <header class="flex"> 
        <div class="w-2/3 mx-8">
          <svg class="w-6  h-6  ml-auto relative searchIcon fill-current text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path class="heroicon-ui" d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"/></svg>
          <input class="searchInput w-full h-12 border-2 rounded-lg"  placeholder="Поиск по системе" /> 
        </div>
        <div class="w-1/4 flex flex-row justify-end pr-3" > 
            <img src="~assets/images/avatars/avatar.png" class="w-10 h-10 mt-6"/>
            <div class="mt-6 pl-4">
              <div> <strong>Alexander C. </strong></div>
              <div>Администратор</div>
            </div>
        </div>
      </header>
      <Navigate class="ml-8 my-4 "/>
      <content class="flex shadow-md ml-8 mr-2">
        <nuxt class="w-full" />
      </content>
    </section>
  </div>
</template>

<style>
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
.searchIcon {
  right: 1rem;
  top: 2.25rem;
}
 .searchInput::placeholder {
   padding-left: 1rem;
  }
</style>
<script>
import Navigate from "~/components/Navigate"
import NavigateMenu from "~/components/NavigateMenu"
export default {
  components: {
    Navigate, 
    NavigateMenu
  }
}
</script>