<template>
  <div>
    <h1>Черные списки</h1>
  </div>
</template>

<script>
export default {
  name: 'BlacklistPage',
  fetch({store, query}) {
      console.log('---Blacklist---')
      console.log(query);
      query.page = query.page || 1;
      query.limit = query.limit || 20;
      console.log('---Получеаем черные списки---')
      store.commit('blacklist/setBlackList');
  },
};
</script>

