<template>
  <div>
    <h1>Колл-центры</h1>
  </div>
</template>

<script>
export default {
  name: 'CallsPage',
  fetch({store, query}) {
      console.log('---Calls---')
      query.page = query.page || 1;
      query.limit = query.limit || 20;
      console.log('---Получеаем список колл-центров---')
      store.commit('calls/setCallsList');
  },
};
</script>

