<template>
  <div>
    <h1>Help</h1>
  </div>
</template>

<script>
import RespondentForm from "~/components/SurveyForm/RespondentForm";
export default {
  name: 'SurveyPage',
  components: { RespondentForm }
};
</script>

