<template>
  <div>
     Title page
  </div>
</template>

<script>
import Menu from "~/components/SurveyForm/Menu";
import RespondentForm from "~/components/SurveyForm/RespondentForm";
export default {
  components: { RespondentForm, Menu },
};
</script>

