<template>
  <div>
    <h1>Пользователи</h1>
  </div>
</template>

<script>
export default {
  name: 'UsersPage',
  fetch({store, query}) {
      console.log('---Users---')
      console.log(query);
      query.page = query.page || 1;
      query.limit = query.limit || 20;
      console.log('---Получем список пользователей---')
      store.commit('users/setUsersList');
  },
};
</script>

