<template>
  <section class="p-5" :class="[selected ? colorProp : defaultColor ]">
    <section>
      <div v-if="index > 0" class="logic w-12 h-12 flex content-center relative offsetLogic">
        <div class="my-auto mx-auto">И</div>
      </div>
      <div class="flex items-start mb-8">
        <label for class="mr-5 title font-bold w-1/4">Условие {{index + 1}}</label>
        <Select
          class="self-stretch flex-grow"
          :list="conditionOptions"
          @onChange="conditionChange"
        />
      </div>
    </section>

    <section v-if="conditionLines.length">
       <div v-for="(conditionLine, lineIndex) in conditionLines" :key="lineIndex" class="flex items-start mb-5 h-12">
            <ConditionLine class="self-stretch flex-grow" :index="lineIndex" :componentName="conditionLine.component" :typeName="selected.type"/>
        </div>     
    </section>
    <section  class="flex justify-between" >
      <div class></div>
      <div  class="flex content-center">
        <AddButton v-if="selected" :title="selected.type.toLowerCase()" @onClick="addLine" />
      </div>
      <div class="flex content-center">
        <DeleteButton @onClick="deleteCondition(id)" />
      </div>
    </section>
  </section>
</template>

<script>
import Select from "~/components/FormInputs/Select.vue";
import RangeInput from "~/components/FormInputs/RangeInput";
import AddButton from "~/components/FormInputs/AddButton";
import DeleteButton from "~/components/FormInputs/DeleteButton";
import ConditionLine from "~/components/SurveyForm/ConditionLine";
export default {
  name: "Condition",
  components: { Select, RangeInput, AddButton, DeleteButton, ConditionLine },
  props: [
      'index', 'colorProp', 'id'
  ],
  data () {
      return {
        conditionOptions: [
            {text: 'Возраст', id: 1, component: RangeInput, type: 'Диапазон'},
            {text: 'Тип карты', id: 2, component: Select, type: 'Тип'},
            {text: 'Статус карты', id: 3, component: Select, type: 'Тип'},
        ], 
        selected: '', 
        defaultColor: 'defaultColor', 
        conditionLines: [],
      }
  },
  methods: { 
    conditionChange (option) {
      console.log(option);
      if (!this.selected) {
        this.selected = option;
        if (this.conditionLines.length == 0)
        {
            this.addLine();
        }
      }
    },
    addLine () {
        this.conditionLines.push(this.selected)
    },
    deleteCondition (id) {
        this.$emit('onDelete', id);
    }
  },
  computed: {
      color () {
          return this.selected != '' ? this.colorProp : this.defaultColor;
      }
  }
};
</script>

<style>
.lightyellow { 
  background-color: #fffcf5;
}
.lightyellow .title {
  color: #a37200;
} 
.lightyellow .logic {
  background-color: #f7f1e3;
} 

.lightblue { 
  background-color: #f8faff;
}
.lightblue .title {
  color: #2248a6;
} 
.lightblue .logic {
  background-color: #e5f0fa;
} 

.lightgreen { 
  background-color: #fafff8;
}
.lightgreen .title {
  color: #a6ca78;
} 
.lightgreen .logic {
  background-color: #e7f6db;
} 

/*
.lightLime {
  e7f6db
}
*/

.defaultColor {
    background-color: #fafafa;
}

.offsetLogic {
  top: -2.5rem;
}
</style>