<template>
  <section>
    <div class="flex items-start mb-5 h-12">
      <div class="w-1/3 flex content-center">
        <label for class="leading-8 my-auto p-2">
          <span v-if="index" class="logic p-4 mr-4 rounded-lg">или</span>{{typeName}} {{index + 1}}
        </label>
      </div>
      <component :is="componentName" class="self-stretch flex-grow" />
    </div>
  </section>
</template>

<script>
import Select from "~/components/FormInputs/Select";
import RangeInput from "~/components/FormInputs/RangeInput";
export default {
  name: "ConditionLine",
  components: { Select, RangeInput },
  props: ["index", "componentName", "typeName"],
};
</script>

<style>
</style>