<template>
    <div class="flex justify-between py-4 bg-gray-200">
      <button class="mx-2 p-2 bg-white text-green-500" >Тестировать опрос</button>
      <button class="mx-2 p-2 bg-green-500 text-white" >
        <nuxt-link :to="'/survey/' + linkAttr">Далее -></nuxt-link>
      </button>
    </div>
</template>
<script>
export default {
    name: 'FooterNav',
    params: ['link'],
    data() {
        return {
            linkAttr: this.$attrs.link
        }
    },
    mounted() {
        console.log(this.$attrs.link);
    }
}
</script>