<template>
  <section class="mb-0">
    <ul
      class="list-none flex justify-around text-green-500 mb-0 border-2 border-l-0 border-r-0 border-t-0 pt-4 pb-0 border-green-300"
    >
      <li class="pt-0 pb-4" v-for="(item, index) in items" :key="index" :class="tab == index ? 'tab-menu__item--active' : ''">
        <nuxt-link class="" :to="'/survey/' + item.pathname" >{{item.title}}</nuxt-link>
      </li>
    </ul>
  </section>
</template>
<script>
export default {
  name: "SurveyMenu",
  data() {
    return {
      items: [
        {title: "Параметры" , pathname: 'parameters'},
        {title: "Вопросы" , pathname: 'questions'},
        {title: "Логика" , pathname: 'logic'},
        {title: "Условия" , pathname: 'conditions'},
        {title: "Респонденты" , pathname: 'respondents'},
      ],
    };
  },
  computed: {
    tab() {
      let path = this.$route.path;
      let idx = this.items.findIndex(item => path.indexOf(item.pathname) > -1);
      return idx > -1 ? idx : 0;
    }
  }
};
</script>

<style>
.tab-menu__item--active {
  border-width: 4px;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-color: #9ae6b4;
}
</style>