<template>
  <div class="self-stretch">
    <slot></slot>
    <section class="text-gray-500  pt-5 pb-5 pl-5 mt-0 mx-3">Добавить Опрос</section>
    <div >
       <div v-if="conditions.length > 0">
          <section v-for="(condition, index) in conditions" :key="condition.id" :class="condition.color">
            <Condition :index="index" :colorProp="color(index)" :id="condition.id" @onDelete="deleteCondition"/>
          </section>
       </div>

       <section class="w-full p-5">
        <button class="border-2 rounded-lg text-green-500 w-full" @click="addCondition">
            <p align="center">
              <svg class="fill-current text-green-500"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><path class="heroicon-ui" d="M17 11a1 1 0 0 1 0 2h-4v4a1 1 0 0 1-2 0v-4H7a1 1 0 0 1 0-2h4V7a1 1 0 0 1 2 0v4h4z"/></svg>
              Нажмите, чтобы добавить новое условие выборки. <br>
              Все условия связываются между собой логическим "И"
            </p>  
        </button>
      </section>
    </div>
  </div>
</template>

<script>
import Condition from "~/components/SurveyForm/Condition";
import Menu from "~/components/SurveyForm/Menu";
import { mapState, mapActions, mapGetters } from "vuex";
export default {
  name: "RespondentForm",
  components: { Condition, Menu },
  data() {
    return {
        //conditions: [],
        colors: ['lightyellow', 'lightblue', 'lightgreen'],
        //maxId: 0,
    };
  },
  computed : {
    conditions () {
      console.log(this.store);
      let curSurvey = this.$store.state.survey.currentSurvey;
      return curSurvey && curSurvey.conditions ? curSurvey.conditions : [];
    }
  },
  methods: { 
    ...mapActions({
      addCondition: 'survey/addCondition'
    }),
    /* addCondition (index) {
      this.conditions.push({id: ++this.maxId})
    }, */
    
    color (index) {
      return this.colors[index % this.colors.length]
    },

    deleteCondition (id) {
      this.conditions = this.conditions.filter(c => c.id !== id)
    }
    
  }
};
</script>

<style>


</style>